{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} {{ 'dl.title'|trans({}, 'messages') }} {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Debts & Loans'} %}

    <div class="text-center little-spacer">
        <h3>{{ 'dl.title'|trans({}, 'messages') }}</h3>   
            
        {% form_theme form 'AcmeBudgetTrackerBundle:Form:label.html.twig' %}
        <form class="little-spacer" action="{{ path('debts_loans') }}" method="post" {{ form_enctype(form) }}>

                {{ form_widget(form) }}

                <button type="submit" class="btn little-spacer">
                    {{ 'submit'|trans({}, 'messages') }}
                </button>

        </form>
        
        {% include 'AcmeBudgetTrackerBundle::display_debts_loans.html.twig' with {
            'debt': true, 
            'items': active_debts,
            'passive': passive_debts} %}
        
        <div class="big-spacer"></div>
        
        {% include 'AcmeBudgetTrackerBundle::display_debts_loans.html.twig' with { 
            'debt': false, 
            'items': active_loans,
            'passive': passive_loans} %}

    </div>

    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}

    {%block javascript%}
        <script src="{{ asset('bundles/acmebudgettracker/js/vendor/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/debtsloans.js') }}"></script>      
    {%endblock%}
        
{% endblock %}