{% extends '::base.html.twig' %}

{% block body %}

    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Home'} %}

    <div class="text-center little-spacer ">
 
        {# Greeting and introduction to newcomers #}
        {% if newcomer == true %}
        
            <h1>{{ 'index.hello'|trans({}, 'messages') }}, {{app.user.username}}!</h1>
            <h3>{{ 'index.welcome'|trans({}, 'messages') }}</h3>
            
            <div class="lead">
                <p class=" big-spacer">
                    <p>{{ 'index.start' | trans({'%link_start%' : '<a href="'~path('categories')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}</p>
                </p>

                <p class="little-spacer">
                    <p>{{ 'index.next' | trans({'%link_start%' : '<a href="'~path('months')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}</p>
                </p>

                <p class="little-spacer">
                    <p>{{ 'index.exp' | trans({'%link_start%' : '<a href="'~path('expenses')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}</p>
                </p>

                <p class="little-spacer">
                    <p>{{ 'index.reports' | trans({'%link_start%' : '<a href="'~path('reports')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}</p>              
                </p>

                <p>{{ 'index.explanation'|trans({}, 'messages') }}</p>

                <p class="little-spacer">
                   {{ 'index.homepage'|trans({}, 'messages') }} 
                </p>

                <p class="little-spacer">
                    {{ 'index.more'|trans({}, 'messages') }} 
                </p>
                
                <p class="big-spacer">
                    {{ 'index.enjoy'|trans({}, 'messages') }} 
                </p>
            </div>
            
        {% elseif expenses_for_current_month == null%}
            
            {# Created only categories, but no expenses #}
                <h1>{{ 'index.hello'|trans({}, 'messages') }}, {{ app.user.username }}!</h1>
                <p class="lead big-spacer">
                    {{ 'index.noexpenses'|trans({}, 'messages') }}                   
                </p>
                <p class="lead little-spacer">
                    {{ 'index.addexpenses' | trans({'%link_start%' : '<a href="'~path('expenses')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}
                </p>
                <p class="lead little-spacer">
                    {{ 'index.addbudget' | trans({'%link_start%' : '<a href="'~path('months')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}
                </p> 
            
        {% else %}
                      
            {# Experienced users #}
            <h3>{{ 'index.expenses.currentmonth'|trans({}, 'messages') }}</h3>
            
            {# If budget is set - show remaining money #}
            {% if budget_for_current_month != null %}
                
                <div id="container" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
                
                {% if remaining > 0 %}
                    <p class="lead text-success little-spacer ">Remaining: 
                        <strong>{{ remaining|number_format(2) }}</strong> 
                        ({{ 'index.expenses.from'|trans({}, 'messages') }} {{ budget_for_current_month|number_format(2) }})
                    </p>
                    
                {% elseif remaining == 0 %}
                    <p class="lead text-error little-spacer">
                        {{ 'index.expenses.spentall'|trans({}, 'messages') }}{{ budget_for_current_month|number_format(2) }}!
                    </p>
                    
                {% else %}
                    <p class="lead text-error little-spacer">
                        {{ 'index.expenses.spentmore'|trans({}, 'messages') }}{{ budget_for_current_month|number_format(2) }}!
                    </p>
                    
                    <p class="lead text-error">
                        {{ 'index.expenses.summore1' | trans({}, 'messages') }} 
                        <strong>{{ (remaining|abs)|number_format(2) }}</strong> 
                        {{ 'index.expenses.summore2' | trans({}, 'messages') }}</p> 
                    </p>
                {% endif %}
                    
            {% endif %}

            {# Display all categories and expenses #}
            {% include 'AcmeBudgetTrackerBundle::display_expenses.html.twig' with {
                'first_category': first_category, 
                'expenses': expenses_for_current_month,
                'bill_payments': bill_payments_for_current_month,
                'sum_for_payments': spent_for_payments_for_current_month,
                'total_sum': spent_for_current_month,
                'highchart': false,
                'details': false,
                'progressbar': true
            } %}
                    
        {% endif %}         
            
    </div>

    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}
    
    <script>
        {% if newcomer == false and budget_for_current_month != null %}
            var chart = true;
            var remaining = {{ remaining }};
            var spent = {{ spent_for_current_month }};
        {% else %}
            var chart = false;
        {% endif %}
    </script>

    {%block javascript%}
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/home.js') }}"></script>
    {%endblock%}
           
{% endblock %} 