{% extends '::base.html.twig' %}

{% block body %}

    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Home'} %}

    <div class="little-spacer text-center">

        <h1>Hello, {{app.user.username}}!</h1>

        {# Greeting and introduction to newcommers #}
        {% if newcommer == true %}
        <h3>... and welcome to BudgetTracker!</h3>
        
            <p class="lead big-spacer">
                We suggest you start by 
                <a href="{{ path('categories') }}">creating some categories</a> 
                to help you keep your expenses organised.
            </p>

            <p class="lead">
                Next, you can <a href="{{ path('months') }}">add your budget for the current month.</a>
            </p>

            <p class="lead">
                And then of course - start listing your <a href="{{ path('expenses') }}">expenses</a>.
            </p>

            <p class="lead">
                Whenever you want to see how much you have spent lately and for what -
                you can visit <a href="{{ path('reports') }}">reports section</a>.
                There you will see a list for just the expenses you are interested in.
            </p>

            <p class="lead big-spacer">
               We have other nice features, too... comming soon. 
            </p>
        {% else %}
            
            {# Experienced users #}
            
            <div class="big-spacer">
                     
                <h4>Remaining: {{ budget - sum_for_month }} from {{ budget }}</h4>
                     
                <h4 class="little-spacer">Expenses for the current month:</h4>
                              
                {% set current_cat = first_cat %}              
                <h3>{{ first_cat }} </h3> 
                <p><i class="icon-plus-sign"></i></p>
                {% set sum = 0 %}               
                {% for e in expenses %}
                        
                        {% if e.category.name != current_cat %}
                            
                            SUM: {{ sum|number_format(2) }}
                            {% set sum = 0 %}
                            <h3>{{ e.category.name }}</h3>
                            {% set current_cat = e.category.name %}
                            {% set sum = sum + e.price %}
                            
                            <div class="products">
                            <p>
                                <b>{{ e.product }} - {{ e.price|number_format(2) }}</b> 
                                {#{{ exp.date|date("d-m-Y") }}, {{ exp.category.name }}#}
                            </p>
                            </div>
                            
                        {% else %}
                            
                            {% set sum = sum + e.price %}
                            
                            <div class="products">
                            <p>
                                <b>{{ e.product }} - {{ e.price|number_format(2) }}</b> 
                                {#{{ exp.date|date("d-m-Y") }}, {{ exp.category.name }}#}
                            </p>
                            </div>
                            
                        {% endif %}
                            
                {% endfor %}
            
                SUM: {{ sum|number_format(2) }}
                            
                <h3>{{sum_for_month|number_format(2)}}</h3>
                
            </div> 
                    
        {% endif %}
 
    </div>

    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/home.js') }}"></script>
    {%endblock%}

{% endblock %}