{% extends '::base.html.twig' %}

{% block body %}

    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Home'} %}

    <div class="text-center little-spacer ">
 
        {# Greeting and introduction to newcommers #}
        {% if newcommer == true %}
        
            <h1>Hello, {{app.user.username}}!</h1>
            <h3>... and welcome to BudgetTracker!</h3>
        
            <p class="lead big-spacer">
                We suggest you start by 
                <a href="{{ path('categories') }}">creating some categories</a> 
                to help you keep your expenses organised.
            </p>

            <p class="lead">
                Next, you can <a href="{{ path('months') }}">add your budget for the current month.</a>
            </p>

            <p class="lead">
                And then of course - start listing your <a href="{{ path('expenses') }}">expenses</a>.
            </p>

            <p class="lead">
                Whenever you want to see how much you have spent lately and for what -
                you can visit <a href="{{ path('reports') }}">reports section</a>.
                There you will see a list for just the expenses you are interested in.
            </p>
            
            <p class="lead">
                If you want just a quick overview for the current month, the home
                page will give you the needed information.
            </p>

            <p class="lead big-spacer">
               We have more nice features, too... comming soon. 
            </p>
            
        {% elseif expenses_for_current_month == null%}
            
            {# Created only categories, but no expenses #}
                <h1>Hello, {{app.user.username}}!</h1>
                <p class="lead big-spacer">
                    You don't have expenses for the current month yet.
                </p>
                <p class="lead little-spacer">
                    You can add some from <a href="{{ path('expenses') }}">here</a>.
                </p>
                <p class="lead little-spacer">
                    And you can <a href="{{ path('months') }}">add your budget</a>
                    , too (if you still haven't added it :).
                </p> 
            
        {% else %}
                      
            {# Experienced users #}
            <h3>Expenses for the current month</h3>
            
            {# If budget is set - show remaining money #}
            {% if budget_for_current_month != null %}
            
                {% if remaining > 0 %}
                    <p class="lead text-success little-spacer ">Remaining: 
                        <strong>{{ remaining }}</strong> 
                        (from {{ budget_for_current_month|number_format(2) }})
                    </p>
                    
                {% elseif remaining == 0 %}
                    <p class="lead text-error little-spacer">
                        You have spent all your budget of {{ budget_for_current_month|number_format(2) }}!
                    </p>
                    
                {% else %}
                    <p class="lead text-error little-spacer">
                        You have exceeded your budget of {{ budget_for_current_month|number_format(2) }}!
                    </p>
                    
                    <p class="lead text-error">
                        You have spent <strong>{{ remaining|abs }}</strong> more than you should!</p> 
                    </p>
                {% endif %}
                    
            {% endif %}

            {# Display all categories and expenses #}
            {% include 'AcmeBudgetTrackerBundle::display_expenses.html.twig' with {
                'first_category': first_category, 
                'expenses': expenses_for_current_month,                
                'total_sum': spent_for_current_month,
                'highchart': false,
                'details': false,
                'progressbar': true
            } %}
                    
        {% endif %}         
            
    </div>

    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}
    
    {%block javascript%}
        <script src="{{ asset('bundles/acmebudgettracker/js/home.js') }}"></script>
    {%endblock%}
        
{% endblock %} 