{% extends '::base.html.twig' %}

{% block title %} {{ 'month.title'|trans({}, 'messages') }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Months'} %}

    <div class="little-spacer text-center"> 
        <h3>{{ 'month.title'|trans({}, 'messages') }}</h3>
        
        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice text-error little-spacer lead">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        {% form_theme form 'AcmeBudgetTrackerBundle:Form:label.html.twig' %}
        <form class="little-spacer" action="{{ path('create_month') }}" method="post" {{ form_enctype(form) }}>
            
            {{ form_widget(form) }}

            <button type="submit" class="btn little-spacer">
                {{ 'submit'|trans({}, 'messages') }}
            </button>
             
        </form>
        
        {% if all_months %}
        
            <div class="big-spacer" id="container" style="width:100%; height:400px;"></div>

            <table class="table table-hover big-spacer">
                <tr>
                    <th>{{ 'month.month'|trans({}, 'messages') }}</th>
                    <th>{{ 'month.budget'|trans({}, 'messages') }}</th>
                    <th>{{ 'month.spent'|trans({}, 'messages') }}</th>
                    <th>{{ 'month.saved'|trans({}, 'messages') }}</th>
                    <th>{{ 'month.transfered'|trans({}, 'messages') }}</th>
                    <th></th>
                    
                </tr>

                <h4 class="big-spacer">{{ 'month.all'|trans({}, 'messages')  }}</h4>

                {% if all_months_count > 0 %}
                    {% for i in 0..all_months_count-1 %}
                        <tr>
                            <td>{{ all_months[i].name }}</td>
                            <td>{{ budget[i]|number_format(2) }}</td>
                            <td class="text-error">
                                {{ spent[i]|number_format(2) }}
                                {% if active_loans[i] > 0 %}
                                    ({{ 'month.loans'|trans({}, 'messages') }}: {{active_loans[i]|number_format(2)}})
                                {% endif %}                           
                            </td>
                            {% if saved[i] >= 0 %}
                                <td class="text-success">{{ saved[i]|number_format(2) }}
                            {% else %}
                                <td class="text-error"><b>{{ 'month.overspent'|trans({}, 'messages') }}: {{ -saved[i]|number_format(2) }}
                            {% endif %}
                            </b></td>
                            <td>
                                {% if  all_months[i].transfered > 0 %}
                                    {{ all_months[i].transfered|number_format(2) }} 
                                {% else %} 
                                    -     
                                {% endif %}
                            </td>
                            <td>
                                {% if saved[i] > 0 %}
                                    <a href="{{path('transfer', { 'id': all_months[i].id}) }}">
                                        {{ 'month.transfer'|trans({}, 'messages') }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
               {% endif %}
            </table>
        {% endif %}
    </div>   
        
    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}

    {%block javascript%}
	<script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/vendor/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/month.js') }}"></script>
    {%endblock%}
        
    {% if month_names_for_chart != null %}
        <script>           
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Budget for months'
                },
                xAxis: {
                    categories: [ {{ month_names_for_chart|raw }} ]
                },
                yAxis: {
                    title: {
                        text: 'Money'
                    }
                },
                series: [{
                    name: 'Spent',
                    data: [ {{spent_joined}} ],
                    color: '#AA3333'
                }, {
                    name: 'Budget',
                    data: [ {{budget_joined}} ],
                    color: '#759E1A'
                }]
            });      
        </script>
    {% endif %}
{% endblock %}