{% extends '::base.html.twig' %}

{% block title %} Months {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Months'} %}

    <div class="little-spacer text-center"> 
        <h1>Months</h1>
        
        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice text-error big-spacer">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        

        <form class="big-spacer" action="{{ path('create_month') }}" method="post" {{ form_enctype(form) }}>
            
            {{ form_widget(form) }}

            <button type="submit" class="btn">
                Submit
            </button>
             
        </form>
    </div> 

            {% for m in all_months %}
            <p>{{m.name}} - {{m.budget}}</p>
        {% endfor %}
            
            <div id="container" style="width:80%; height:300px;"></div>
            
            

    {%block javascript%}
       	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
            {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> #}
        <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/month.js') }}"></script>
       {# <script src="http://code.highcharts.com/highcharts.js"></script>#}
    {%endblock%}
        
        <script>
            
var months = {{ names }};
             months = json_parse(months);
             console.log(months);
            
                $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Budget for months'
        },
        xAxis: {
            categories: months
        },
        yAxis: {
            title: {
                text: 'Money'
            }
        },
        series: [{
            name: 'Spend',
            data: [],
            color: 'red'
        }, {
            name: 'Saved',
            data: [],
            color: 'green'
        }]
    });
    </script>

{% endblock %}