{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    
    {# Top menu #}
    <div class="navbar navbar-inverse navbar-static-top"> 
        <div class="navbar-inner">
            <a class="brand" href="{{ path('home') }}">BudgetTracker</a>
            
            <ul class="nav">
                <li class="active">
                    <a href="{{ path('fos_user_security_login') }}">Login</a>
                </li>

                <li>
                    <a href="{{ path('fos_user_registration_register') }}">Register</a>
                </li>
            </ul>
        </div>
    </div>
    
    {# Main content #}
    <div class="text-center">

        <h1 class="little-spacer">Welcome to BudgetTracker!</h1>

        <p class="lead big-spacer">
            Welcome to BudgetTracker - an application, which helps you to keep track of all your expenses!
        </p>
        
        <p class="lead">
            Create categories and and manage them and get full reports for everything spent!
        </p>
        
        <p class="lead">
            Just log in or register if you don't have an account to begin tracking your budget!
        </p>
        
        {% if error %}
            <div class="text-error big-spacer lead">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        
        <form class="big-spacer" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">{{ 'Username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'Password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" />

            <label class="little-spacer" for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'Remember me'|trans({}, 'FOSUserBundle') }}
            </label>

            <input class="btn little-spacer" type="submit" id="_submit" name="_submit" value="{{ 'Submit'|trans({}, 'FOSUserBundle') }}" />
        </form>

        <p class="big-spacer">
            Still don't have an account? <a href="{{ path('fos_user_registration_register') }}">Register</a> now! 
        </p>

    </div>
        
{% endblock fos_user_content %}