{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    
    {% include 'AcmeBudgetTrackerBundle::unlogged_navbar.html.twig' with {'var':'Login'} %}
    
    {# Main content #}
    <div class="text-center little-spacer">

        <h1>Welcome to BudgetTracker!</h1>

        <p class="lead big-spacer">
            Welcome to BudgetTracker - an application, which helps you to keep track of all your expenses!
        </p>
        
        <p class="lead">
            Create categories and and manage them and get full reports for everything spent!
        </p>
        
        <p class="lead">
            Just log in or register if you don't have an account to begin tracking your budget!
        </p>
        
        {% if error %}
            <div class="text-error big-spacer lead">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        
        <form class="big-spacer" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" />

            <label class="little-spacer" for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>

            <input class="btn little-spacer" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>

        <p class="big-spacer">
            Still don't have an account? <a href="{{ path('fos_user_registration_register') }}">Register</a> now! 
        </p>

    </div>
        
{% endblock fos_user_content %}