{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} Expenses {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Expenses'} %}

    <div class="little-spacer text-center">
        
        <h3>Expenses</h3>
        
        {% if newcommer == true %}
        
        <p class="big-spacer lead">
            You shoulf first <a href="{{ path('categories') }}">create some categories</a>.
            They will help you keep your expenses organised and filter them easily.
            After creating categories, come back to start adding your expenses.
        </p>
        
        {% else %}
   
            {# {% form_theme form 'AcmeBudgetTrackerBundle:Form:inline.html.twig' %} #}

            <form class="little-spacer" action="{{ path('create_expense') }}" method="post" {{ form_enctype(form) }}>

               {{ form_widget(form) }}

               <button type="submit" class="btn">
                   Submit
               </button>

            </form>
        
            {% if sum != 0 %}
                <div class="big-spacer">

                    <h4>Expenses for today:</h4>
                    {% for exp in expenses %}        
                        <p>
                            {{ exp.product }} - {{ exp.price|number_format(2) }} 
                            {#{{ exp.date|date("d-m-Y") }}, {{ exp.category.name }}#}
                        </p> 
                    {% endfor %}
                    
                    <hr class="hr-colored span4 center">    
                    <div><p><b>Sum: {{ sum|number_format(2) }}</b></p></div>
                    
                </div>
            {% endif %}
        
        {% endif %}
             
    </div>

    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/editable.js') }}"></script>
    {%endblock%}

{% endblock %}
        
{# TODO 1. Color the hr! #}
{# TODO 2. Add several expenses with one submit #}
{# TODO 3. AJAX-ify #}