{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} {{ 'expenses.exp' | trans({}, 'messages') }} {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Expenses'} %}

    <div class="text-center little-spacer">
        
        <h3>{{ 'expenses.exp' | trans({}, 'messages') }}</h3>
        
        {% if newcomer == true %}
        
            <div class="lead little-spacer">
                <p><p>{{ 'expenses.nocat' | trans({'%link_start%' : '<a href="'~path('categories')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}</p>
                <p>{{ 'expenses.cathelp' | trans({}, 'messages') }}</p>
                <p class="little-spacer">{{ 'expenses.aftercat' | trans({}, 'messages') }}</p>
            </div>
        
        {% else %}

            {% form_theme form 'AcmeBudgetTrackerBundle:Form:label.html.twig' %}
            <form class="little-spacer" action="{{ path('expenses') }}" method="post" {{ form_enctype(form) }}>

                {{ form_widget(form) }}

                <button type="submit" class="btn little-spacer">
                    {{ 'submit' | trans({}, 'messages') }}
                </button>

            </form>

            {% if spent_for_today != 0 or spent_for_payments_today %}
                <div class="big-spacer">
                    <p class="lead little-bottom-spacer">{{ 'expenses.today' | trans({}, 'messages') }}</p>

                    {% if expenses_for_today %}
                        {% for exp in expenses_for_today %}        
                            <p>
                                {{ exp.product }} - {{ exp.price|number_format(2) }} 
                            </p> 
                        {% endfor %}
                    {% endif %}

                    {% if spent_for_payments_today != 0 %}
                        {% for p in payments_for_today %}        
                            <p>
                                {{ p.bill.name }} - {{ p.price|number_format(2) }} 
                            </p> 
                        {% endfor %}
                    {%endif%}

                    <hr class="hr-colored span4 center">    
                    <div><b>{{ 'sum' | trans({}, 'messages') }}: {{ (spent_for_today+spent_for_payments_today)|number_format(2) }}</b></div>
            {% endif %}    
                </div>
        
        {% endif %}
         
    </div>
    
    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}

    {%block javascript%}
        <script src="{{ asset('bundles/acmebudgettracker/js/vendor/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/expense.js') }}"></script>
    {%endblock%}
        
{% endblock %}