{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} Expenses {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Expenses'} %}

    <div class="text-center little-spacer">
        
        <h3>Expenses</h3>
        
        {% if newcommer == true %}
        
            <div class="lead little-spacer">
                <p>You should first <a href="{{ path('categories') }}">create some categories</a>.</p>
                <p>They will help you keep your expenses organised and filter them easily.</p>
                <p>After creating categories, come back to start adding your expenses.</p>
            </div>
        
        {% else %}

            <form class="little-spacer" action="{{ path('create_expense') }}" method="post" {{ form_enctype(form) }}>

                {{ form_widget(form) }}

                <button type="submit" class="btn little-spacer">
                    Submit
                </button>

            </form>
        
            {% if spent_for_today != 0 %}
                <div class="big-spacer">

                    <h4 class="little-bottom-spacer">Expenses for today:</h4>
                    {% for exp in expenses %}        
                        <p>
                            {{ exp.product }} - {{ exp.price|number_format(2) }} 
                        </p> 
                    {% endfor %}
                    
                    <hr class="hr-colored span4 center">    
                    <div><b>Sum: {{ spent_for_today|number_format(2) }}</b></div>
                    
                </div>
            {% endif %}
        
        {% endif %}
             
    </div>
    
    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}
    {%block javascript%}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>#}
        <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/editable.js') }}"></script>
    {%endblock%}
        
{% endblock %}
        
{# -------------------------------------------------------------------------- #}        
        
{# TODO 1. Color the hr! #}
{# TODO 2. Add several expenses with one submit #}
{# TODO 3. AJAX-ify #}