{% extends '::base.html.twig' %}

{% block title %} Categories {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Categories'} %}

    <div class="little-spacer text-center">       
        <h3>Categories</h3> 
        
        {% if categories %}
            <table class="big-spacer table table-striped">
                {% for cat in categories %}
                    <tr>
                        <td>
                            <span class="right-spacer"><strong id="{{cat.id}}"class="edit">{{ cat.name }}</strong>

                            <script>
                                var path = "{{ path('edit_category', { 'id': cat.id}) }}";
                            </script>

                            <a href="{{ path('delete_category', { 'id': cat.id }) }}"><i class="icon-remove"></i></a>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        
        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice text-error big-spacer">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}
        
        <p class="big-spacer"><strong>{{ 'add.new.category'|trans({}, 'messages')  }}<strong></p>
            
        {% form_theme form 'AcmeBudgetTrackerBundle:Form:errors.html.twig' %}                       
        <form action="{{ path('create_category') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            <input class="little-spacer btn" type="submit" value="Submit"/>
        </form>
    </div> 

    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/category.js') }}"></script> 
        <script src="{{ asset('bundles/acmebudgettracker/js/jquery.jeditable.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap.min.js') }}"></script>      
    {%endblock%}

{% endblock %}
           
{# ---------------------------------------------------------------------------#}
        
{# TODO 1. AJAX-ify delete and add #}
{# TODO 2. Style jeditable buttons #}

{#  Another implementation only with php, no JS #}
        
{# 
<table class="big-spacer table table-striped">
    {% for cat in categories %}
        <tr>
            <td>
                {% if id==cat.id %}                        

                    {% form_theme form 'AcmeBudgetTrackerBundle:Form:inline.html.twig' %}                 
                    <form class="form-inline" action="{{ path('edit_category', { 'id': cat.id}) }}" method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}

                        <button type="submit" class="btn">
                        <i class="icon-ok"></i> 
                        </button>
                    </form>

                {% else %} 
                            
                    <span class="right-spacer"><a href="{{ path('edit_category', { 'id': cat.id}) }}"><strong class="edit">{{ cat.name }}</strong></a></span> 
                    <a href="{{ path('edit_category', { 'id': cat.id}) }}"><i class="icon-pencil right-spacer"></i></a>
                    <a href="{{ path('delete_category', { 'id': cat.id }) }}"><i class="icon-remove"></i></a>
                    
                    <script>
                        var token = "{{form._token.vars.value}}";
                        var path = "{{ path('edit_category', { 'id': cat.id}) }}";
                    </script>

                {% endif %} 
            </td>
        </tr>
    {% endfor %}
</table>
        
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice text-error big-spacer">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

{% if id==null %}

    <p class="big-spacer"><strong>{{ 'add.new.category'|trans({}, 'messages')  }}<strong></p>

    {% form_theme form 'AcmeBudgetTrackerBundle:Form:errors.html.twig' %}                       
    <form action="{{ path('create_category') }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        <input class="little-spacer btn" type="submit" value="Submit"/>
    </form>

{% else %}
     <a href="{{ path('categories') }}">Go Back</a>
{% endif %}
#}