{% extends '::base.html.twig' %}

{% block title %} Categories {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Categories'} %}

    <div class="text-center little-spacer">       
        <h3>Categories</h3> 
        
        {% if categories %}
            <table class="table table-striped big-spacer">
                {% for cat in categories %}
                    <tr>
                        <td>
                            <span class="right-spacer"><strong id="{{cat.id}}"class="edit validation">{{ cat.name }}</strong>

                            <script>
                                var path = "{{ path('edit_category', { 'id': cat.id}) }}";
                            </script>

                            <a href="{{ path('delete_category', { 'id': cat.id }) }}"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        
        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice text-error big-spacer">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}
        
        <p class="big-spacer"><strong>{{ 'add.new.category'|trans({}, 'messages')  }}<strong></p>
            
        {% form_theme form 'AcmeBudgetTrackerBundle:Form:errors.html.twig' %}                       
        <form action="{{ path('create_category') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            <input class="little-spacer btn" type="submit" value="Submit"/>
        </form>
    </div> 
    
    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}

    {%block javascript%}     
        <script src="{{ asset('bundles/acmebudgettracker/js/jquery.jeditable.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/category.js') }}"></script>      
    {%endblock%}

{% endblock %}