{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    {#<link href="{{ asset('bundles/acmebudgettracker/css/datetimepicker.css') }}" rel="stylesheet" type="text/css" />#}
{% endblock %}

{% block title %} Reports {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Reports'} %}

    <div class="little-spacer text-center"> 
        <h3>Reports</h3>   
 
       {# <h4>Select for what time you would like your report</h4>        
        
        <div>        
            <select id="select_time">
                <option value="years">For year(s)</option>
                <option value="months">For month(s)</option>
                <option value="days">For day(s)</option>
            </select>
        </div> #}
        
        <h4>Choose categories:</h4>

        {#<ul class="categories">
        {% for cat in all_categories %}
            <li>
                <input type="checkbox" name="{{ cat.name }}" value="{{ cat.name }}">{{ cat.name }}
            </li>
        {% endfor %}
            <a href="#" id="all">All</a> | 
            <a href="#" id="none">None</a>
        </ul> #}
        
        {% form_theme form 'AcmeBudgetTrackerBundle:Form:checkbox.html.twig' %}
        <form class="big-spacer" action="{{ path('reports') }}" method="post" {{ form_enctype(form) }}>

           {# {{ form_widget(form) }} #}
            
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}
            {{ form_row(form.categories) }}
            
            <p>
                <a href="#" id="all">All</a> | 
                <a href="#" id="none">None</a>
            </p>
            
            {{ form_row(form.start_date) }}   
            {{ form_row(form.end_date) }}
            
            <button type="submit" class="btn">
                Submit
            </button> 
            
        </form>

    {% if response != null %}
        
        {% set current_category = first_category %}                      
            <h5 class="little-spacer"><u>{{ first_category }}</u></h5> 

            {% set sum = 0 %}
            
            {% for r in response %}
                {% if r.category.name != current_category %}
                    <strong>{{ sum|number_format(2) }}</strong>
                                       
                    {% set sum = 0 %}
                            
                    <h5><u>{{ r.category.name }}</u></h5>
                
                    {% set current_category = r.category.name %}
                    {% set sum = sum + r.price %}
                            
                    <div class="">
                        <p>
                            {{ r.product }} - {{ r.price|number_format(2) }}, {{r.date|date("d-m-Y")}}
                            {#{{ exp.date|date("d-m-Y") }}, {{ exp.category.name }}#}
                        </p>
                    </div>                          
                {% else %}                          
                    {% set sum = sum + r.price %}

                    <div class="">
                        <p>
                            {{ r.product }} - {{ r.price|number_format(2) }}, {{r.date|date("d-m-Y")}} 
                            {#{{ exp.date|date("d-m-Y") }}, {{ exp.category.name }}#}
                        </p>
                    </div>
                {% endif %}                   
            {% endfor %}
                            
            {#<p class="lead text-error">Spent: <strong>{{sum_for_current_month|number_format(2)}}</strong></p>#}
   
   {#     {% for r in response %}
            <p>{{ r.product }} {{ r.category.name }} {{ r.date|date("d-m-Y") }} </p>
        {% endfor %}#}
    {% else %}
            <p>There are no expenses!</p>
    {% endif %}
            
            
            
                </div>

    {#{% for e in exp %}
        <p>{{ e.product }} {{ e.date }}</p>
    {% endfor %}#}
        
    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        
        {#<script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datetimepicker.min.js') }}"></script>#}
       <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script> 
        <script src="{{ asset('bundles/acmebudgettracker/js/reports.js') }}"></script>
        
    {%endblock%}
        
{% endblock %}