{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} {{ 'report.title'|trans({}, 'messages') }} {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Reports'} %}

    <div class="text-center little-spacer "> 
        <h3>{{ 'report.title'|trans({}, 'messages') }}</h3>   

        {% if newcomer == true %}
        
            <div class="lead little-spacer">
                <p>
                    <p>{{ 'report.nocat' | trans({'%link_start%' : '<a href="'~path('categories')~'">', '%link_end%' : '</a>'}, 'messages')|raw }}</p>
                </p>
                <p class="little-spacer">{{ 'report.aftercat'|trans({}, 'messages') }}</p>
            </div>
        
        {% else %}
            
            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice text-error lead little-spacer">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
        
            <p class="lead big-spacer">{{ 'report.choosecat'|trans({}, 'messages') }}</p>

            {% form_theme form 'AcmeBudgetTrackerBundle:Form:checkbox.html.twig' %}         
            <form class="little-spacer" action="{{ path('take_report') }}" method="post" {{ form_enctype(form) }}>

                {{ form_errors(form) }}
                {{ form_widget(form._token) }}

                <div class="checkboxes text-left offset7">
                    {{ form_row(form.categories) }}
                    {#<input id="" type="checkbox"> Bills#}
                    <p><input id="chbx" type="checkbox"><b> {{ 'report.chbx'|trans({}, 'messages') }}</b></p>
                </div>

                {% form_theme form 'AcmeBudgetTrackerBundle:Form:label.html.twig' %}
                <div class="big-spacer">
                    {{ form_row(form.from_date) }}   
                    {{ form_row(form.to_date) }}
                </div>

                <button type="submit" class="btn little-spacer">
                    {{ 'submit'|trans({}, 'messages') }}
                </button> 

            </form>
            
        {% endif %}
    </div>
    
    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}
    
    {%block javascript%}
        <script src="{{ asset('bundles/acmebudgettracker/js/vendor/bootstrap-datepicker.js') }}"></script> 
        <script src="{{ asset('bundles/acmebudgettracker/js/reports.js') }}"></script>       
    {%endblock%}
        
{% endblock %}