{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} Reports {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Reports'} %}

    <div class="little-spacer text-center"> 
        <h3>Reports</h3>   

        {% if newcommer == true %}
            <div class="lead little-spacer">
                <p>
                    You should first <a href="{{ path('categories') }}">create some categories</a>
                    and list your expesnses.
                </p>
                <p>After that you will be able to get reports.</p>
            </div>
        
        {% else %}
            
            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice text-error little-spacer lead">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
        
            <h4 class="big-spacer">Choose categories:</h4>

            {% form_theme form 'AcmeBudgetTrackerBundle:Form:checkbox.html.twig' %}
            <form class="little-spacer" action="{{ path('take_report') }}" method="post" {{ form_enctype(form) }}>

                {{ form_errors(form) }}
                {{ form_widget(form._token) }}

                <div class="checkboxes text-left offset7">
                    {{ form_row(form.categories) }}
                    <input id="chbx" type="checkbox"><b> Select / Deselect All</b>
                </div>

                <div class="big-spacer">
                    {{ form_row(form.start_date) }}   
                    {{ form_row(form.end_date) }}
                </div>

                <button type="submit" class="btn little-spacer">
                    Submit
                </button> 

            </form>
        {% endif %}
    </div>
       
    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script> 
        <script src="{{ asset('bundles/acmebudgettracker/js/reports.js') }}"></script>       
    {%endblock%}
        
{% endblock %}