{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    {#<link href="{{ asset('bundles/acmebudgettracker/css/datetimepicker.css') }}" rel="stylesheet" type="text/css" />#}
{% endblock %}

{% block title %} Reports {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Reports'} %}

    <div class="little-spacer text-center"> 
        <h3>Reports</h3>   
 
        <h4>Select for what time you would like your report</h4>        
        
        <div>        
            <select id="select_time">
                <option value="years">For year(s)</option>
                <option value="months">For month(s)</option>
                <option value="days">For day(s)</option>
            </select>
        </div>
        
        <h4>Choose categories:</h4>
        
        <p>
            <a href="#" id="all">All</a> | 
            <a href="#" id="none">None</a>
        </p>
    </div>
        
        {#<ul class="categories">
        {% for cat in all_categories %}
            <li>
                <input type="checkbox" name="{{ cat.name }}" value="{{ cat.name }}">{{ cat.name }}
            </li>
        {% endfor %}
            <a href="#" id="all">All</a> | 
            <a href="#" id="none">None</a>
        </ul> #}
                
        {% form_theme form 'AcmeBudgetTrackerBundle:Form:checkbox.html.twig' %}
        <form class="big-spacer span5 offset5" action="{{ path('reports') }}" method="post" {{ form_enctype(form) }}>

            {{ form_widget(form) }}

            <button type="submit" class="btn">
                Submit
            </button>

        </form>
        
    {% if response != null %}
        NOT NULL!
        {% for r in response %}
            <p>{{ r.product }} {{ r.category.name }} {{ r.date }}</p>
        {% endfor %}
    {% endif %}

    {#{% for e in exp %}
        <p>{{ e.product }} {{ e.date }}</p>
    {% endfor %}#}
        
    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        
        {#<script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datetimepicker.min.js') }}"></script>#}
       <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script> 
        <script src="{{ asset('bundles/acmebudgettracker/js/reports.js') }}"></script>
        
    {%endblock%}
        
{% endblock %}