{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} Reports for {% endblock %}


{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Reports'} %}

    <div class="little-spacer text-center">
        <h3>Report for expenses from <b>{{ start_date }}</b> to <b>{{ end_date }}</b></h3>   

        {% if response != null %}
        
       {% include 'AcmeBudgetTrackerBundle::display_expenses.html.twig' with {
                'first_category': first_category,
                'expenses_for_current_month': response, 
                'progressbar': false,
                'details': true
        } %}
          
    {% else %}
            <p>There are no expenses!</p>
    {% endif %}
     
                </div>

    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        
        {#<script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datetimepicker.min.js') }}"></script>#}
       <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script> 
        <script src="{{ asset('bundles/acmebudgettracker/js/reports.js') }}"></script>
        
    {%endblock%}
        
{% endblock %}