{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} Report {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Reports'} %}

    <div class="text-center little-spacer">
        <h3>Report for expenses from <b>{{ from_date }}</b> to <b>{{ to_date }}</b></h3>   

        {% if expenses != null %}       
            {% include 'AcmeBudgetTrackerBundle::display_expenses.html.twig' with {
                    'first_category': first_category,
                    'expenses': expenses, 
                    'total_sum': total_sum,
                    'bill_payments': bill_payments,
                    'sum_for_payments': sum_of_payments,
                    'highchart': true,
                    'details': true,
                    'progressbar': false                  
            }%}         
        {% else %}
            <p class="text-warning lead big-spacer">Looks like there are no expenses between</p>
            <p class="text-warning lead">{{ from_date }} and {{ to_date }} for the selected categories.</p>
        {% endif %}
            
        <div class="little-spacer"><a href="{{ path('reports') }}">Go back</a></div>           
    </div>

    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' with {'report':'Reports'} %}

    {%block javascript%}
        <script src="{{ asset('bundles/acmebudgettracker/js/take_reports.js') }}"></script>      
    {%endblock%}
        
{% endblock %}