{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmebudgettracker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} Reports {% endblock %}


{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Reports'} %}

    <div class="little-spacer text-center">
        <h1>Reports</h1>   

        {{response}}
        
        {% if response != null %}
            NOT NULL!
            {% for r in response %}
                <p>{{ r.product }} {{ r.category.name }}</p>
            {% endfor %}
        {% else %}
                NULL :(
        {% endif %}


        
    {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/acmebudgettracker/js/reports.js') }}"></script>
    {%endblock%}
        
{% endblock %}