{% extends '::base.html.twig' %}

{% block title %} {{ 'bank.title'|trans({}, 'messages') }} {% endblock %}

{% block body %}
    
    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Bank interest'} %}

    <div class="little-spacer text-center">       
        <h3>{{ 'bank.title'|trans({}, 'messages') }}</h3> 
        
        {% if saved_sum > 0%}
            <p class="lead text-success little-spacer">
                {{ 'bank.saved'|trans({}, 'messages') }}<b>{{ saved_sum|number_format(2, '.', '') }}</b>!
            </p>
            
        {% elseif saved_sum == 0 %}
            <p class="lead text-warning little-spacer">
                {{ 'bank.nothingsaved'|trans({}, 'messages') }}
            </p>
            
        {% else %}
            <p class="lead text-error little-spacer">
                {{ 'bank.exceeded'|trans({}, 'messages') }}
            </p>
            
            <p class="lead text-error"> 
                {{ 'bank.morespent1'|trans({}, 'messages') }}{{ (saved_sum|abs)|number_format(2, '.', '') }} {{ 'bank.morespent2'|trans({}, 'messages') }}
            </p>
        {% endif %}
        
        <p class="lead big-spacer">{{ 'bank.calculate'|trans({}, 'messages') }}</p>
    
        <div class="little-spacer">
        
            <label for="sum">{{ 'bank.deposit'|trans({}, 'messages') }} </label>

            <input id="sum" type="text" value="{% if saved_sum > 0 %}{{ saved_sum|number_format(2, '.', '') }}{% endif %}" required> 

            <label for="interest">{{ 'bank.interest'|trans({}, 'messages') }}</label> 
            <input id="interest" type="text" required>
            <label for="period">{{ 'bank.period'|trans({}, 'messages') }}</label> 
            <input id="period" type="text" required>

            <div class="little-spacer"><button class="btn">{{ 'bank.calc'|trans({}, 'messages') }}</button></div>
        </div>
                
        <div class="products big-spacer">
            <p class="lead">{{ 'bank.profitresult'|trans({}, 'messages') }}<span id="profit"></span>.</p>
            
            <p class="lead">
                {{ 'bank.tax'|trans({}, 'messages') }}<b><span id="profit_tax"></span></b>.
            </p> 
            
            <p class="lead">
                {{ 'bank.result1'|trans({}, 'messages') }} <span id="months"></span> {{ 'bank.result2'|trans({}, 'messages') }}
                <b><span id="new_sum" class="text-success"></span></b>.
            </p>
        </div>
        
        <div class="products" id="error">
            <p class="lead text-error big-spacer">{{ 'bank.error'|trans({}, 'messages') }}</p>
        </div> 
    </div> 

    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}

    {%block javascript%}
        <script src="{{ asset('bundles/acmebudgettracker/js/banks.js') }}"></script>      
    {%endblock%}

{% endblock %}