{#
Needed parameters:
    first_category (the name of the category to start with)
    expenses
    total_sum

Booleans:
    highchart (whether to generate a string to be given to highcharts script or not)
    details (show only product and price or detailed information in table)
    progressbar (whether to display progressbars with percentages; needed for display_expenses_progressbar.hmtl.twig)
#}

{% if highchart == true %}
    <div id="container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
{% endif %}

<button class="toggle_expenses btn little-spacer">
    <i class="icon-chevron-down"></i>{{ 'displayexp.showhide' | trans({}, 'messages') }}
</button>

{# Display categories, sums for them and expenses #}
{% set current_category = first_category %}

{# For the first category #}
<h4 class="little-spacer text-info"><u>{{ current_category }} </u></h4> 

{# Generate the string to give to highcharts #}
{% if highchart == true %}
    {% set chart = '["' ~ current_category ~ '", ' %}
{% endif %}

<div class="products {{ current_category }}">
    
    {% if details == true %}
         {% include 'AcmeBudgetTrackerBundle::display_expenses_table_header.html.twig' %}
    {% endif %}
      
    {# Stores the current sum spent for the products of this cateogry #}                
    {% set sum = 0 %}
                    
    {% for e in expenses %}
        {# If the products are from a diffeerent category, a new one #}
        {% if e.category.name != current_category %}

            {# Finish with showing information about the previous category #}
            {% if details == true %}
            </tr></table>
            {% endif %}
</div>
            <strong>{{ 'sum' | trans({}, 'messages') }}: {{ sum|number_format(2) }}</strong>
                
            {% if highchart == true %}
                {% set chart = chart ~ sum ~ '], ' %}
            {% endif %}

            {% include 'AcmeBudgetTrackerBundle::display_expenses_progressbar.html.twig' %}

            {# Reset values #}
            {% set sum = 0 %}
     
            {# Give the beginning for the new category #}
            <h4 class="little-spacer text-info"><u>{{ e.category.name }}</u></h4>
                
            {% set current_category = e.category.name %}
            {% set sum = sum + e.price %}

            {% if highchart == true %}
                {% set chart = chart ~ '["' ~ current_category ~ '", ' %}
            {% endif %}

            <div class="products {{current_category}}">

                {% if details == true %}
                    {% include 'AcmeBudgetTrackerBundle::display_expenses_table_header.html.twig' %}
                    {% include 'AcmeBudgetTrackerBundle::display_expenses_table_rest.html.twig' %}                  
                    {% else %}
                        <p>
                            {{ e.product }} - {{ e.price|number_format(2) }} 
                        </p>                                  
                    {% endif %}
        
        {# If the products are from the same category, continue displaying the them #}
        {% else %}
                  
            {% set sum = sum + e.price %}

            {% if details == true %}
                {% include 'AcmeBudgetTrackerBundle::display_expenses_table_rest.html.twig' %}
            {% else %}
                <p>
                    {{ e.product }} - {{ e.price|number_format(2) }} 
                </p>
            {% endif %}

        {% endif %}
                    
    {% endfor %}

    {# Finish for the last category #}
    {% if details == true %}
        </tr></table>
    {% endif %}
            </div> 

    <strong>{{ 'sum' | trans({}, 'messages') }}: {{ sum|number_format(2) }}</strong>
        
    {% if highchart == true %}
        {% set chart = chart  ~ sum ~ ']' %}
    {% endif %}

    {% include 'AcmeBudgetTrackerBundle::display_expenses_progressbar.html.twig' %}
    
    {# Bill Payments #}
    {% if bill_payments %}
        <h4 class="little-spacer text-info"><u>Bills</u></h4>
           
        <div class="products Bills">

            {% if details == true %}
                {% include 'AcmeBudgetTrackerBundle::display_expenses_table_header.html.twig' %}
                {% for p in bill_payments %}
                    {% include 'AcmeBudgetTrackerBundle::display_expenses_payment_table_rest.html.twig' %}                 
                {% endfor %}
                </tr></table>
            {% else %}
                {% for b in bill_payments %}
                    <p>
                        {{ b.bill.name }} - {{ b.price|number_format(2) }} 
                    </p>
                {% endfor %}
            {% endif %}
                         
        </div>
        
        <strong>{{ 'sum' | trans({}, 'messages') }}: {{ sum_for_payments|number_format(2) }}</strong>
        
        {% set sum = sum_for_payments %}
        {% include 'AcmeBudgetTrackerBundle::display_expenses_progressbar.html.twig' %}
        
        {% if highchart == true %}
            {% set chart = chart ~ ' ,[ "Bills", ' ~ sum ~ ']' %}
        {% endif %}
        
    {% endif %}
    
    {# Display total sum #}
    <p class="lead text-error little-spacer">{{ 'displayexp.total' | trans({}, 'messages') }}: <strong>{{total_sum|number_format(2)}}</strong></p> 

    {% if highchart == true %}

        {%block javascript%}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> 
            <script src="http://code.highcharts.com/highcharts.js"></script>
        {%endblock%}

        <script>
            $(function () {
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Expenses'
                    },
                    tooltip: {
                        formatter: function () {
                            return this.point.name + ': <b>' + Highcharts.numberFormat(this.percentage, 0) + '%</b>';
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Total',
                        data: [
                            {{ chart|raw }}
                        ]
                    }]
                });
            });    
        </script>
    {% endif %}