{% if items %}
    <p class="big-spacer lead">
        {% if debt == true %}
            {{ 'dl.titlefordebts'|trans({}, 'messages') }} 
        {% else %}
            {{ 'dl.titleforloans'|trans({}, 'messages') }}
        {% endif %}
    </p>
    <table class="table table-hover little-spacer">
        <tr>
            <th>{% if debt %}{{ 'dl.return'|trans({}, 'messages') }}{% else %}{{ 'dl.receive'|trans({}, 'messages') }}{% endif %}</th>
            <th>{{ 'dl.sum'|trans({}, 'messages') }}</th>
            <th>
                {{ 'dl.datewhen'|trans({}, 'messages') }} 
                {% if debt %}
                    {{ 'dl.taken'|trans({}, 'messages') }}
                {% else %}
                    {{ 'dl.given'|trans({}, 'messages') }}
                {% endif %}
            </th>
            <th>{{ 'dl.description'|trans({}, 'messages') }}</th>
            <th></th>
        </tr>
        {% for i in items %}              
            <tr>
                <td>{{i.product}}</td>
                <td>{{i.price|number_format(2)}}</td>
                <td>{{i.date|date('d-m-Y')}}</td>
                <td>{% if i.description %} {{ i.description }} {% else %} - {% endif %}<td>
                <td><a href="{{path('return', {'id': i.id}) }}">{{ 'dl.markreturned'|trans({}, 'messages') }}</a></td>
            </tr>                
        {% endfor %}
        {% if passive %}
            {% for p in passive %}
            
            <tr class="linethr {%if debt %} debts {%else%} loans{%endif%}">
                <td>{{p.product}}</td>
                <td>{{p.price|number_format(2)}}</td>
                <td>{{p.date|date('d-m-Y')}}</td>
                <td>{% if p.description %} {{ p.description }} {% else %} - {% endif %}<td>
                <td><a href="{{path('return', {'id': p.id}) }}">{{ 'dl.unmarkreturned'|trans({}, 'messages') }}</a></td>
            </tr>
            
        {% endfor %}
        {% endif %}
    </table>
    
    {% if passive %}
        <button class="btn" {% if debt %}id="show_returned_debts" {% else %} id="show_returned_loans"{% endif %}>
            <i class="icon-chevron-down"></i> {{ 'dl.showhide'|trans({}, 'messages') }} 
            {% if debt %} 
                {{ 'dl.returned'|trans({}, 'messages') }} 
            {% else %} 
                {{ 'dl.received'|trans({}, 'messages') }}
            {% endif %}
        </button>
    {%endif%}
    
{% else %}
    <p class="lead text-success big-spacer">
        {% if debt %}
            {{ 'dl.nodebts'|trans({}, 'messages') }}
        {% else %}
            {{ 'dl.noloans'|trans({}, 'messages') }}
        {% endif %}
    </p> 
    
    {% if passive %}
    <p class="big-spacer lead {%if debt %} debts {%else%} loans{%endif%}">{{ 'dl.alreadyreturned'|trans({}, 'messages') }}</p>
    <table class="table table-hover little-spacer {%if debt %} debts {%else%} loans{%endif%}">
        <tr>
            <th>{% if debt %}{{ 'dl.return'|trans({}, 'messages') }}{% else %}{{ 'dl.receive'|trans({}, 'messages') }}{% endif %}</th>
            <th>{{ 'dl.sum'|trans({}, 'messages') }}</th>
            <th>
                {{ 'dl.datewhen'|trans({}, 'messages') }} 
                {% if debt %}
                    {{ 'dl.taken'|trans({}, 'messages') }}
                {% else %}
                    {{ 'dl.given'|trans({}, 'messages') }}
                {% endif %}
            </th>
            <th>{{ 'dl.description'|trans({}, 'messages') }}</th>
            <th></th>
        </tr>
        {% for p in passive %}
            
            <tr class="linethr ">
                <td>{{p.product}}</td>
                <td>{{p.price|number_format(2)}}</td>
                <td>{{p.date|date('d-m-Y')}}</td>
                <td>{% if p.description %} {{ p.description }} {% else %} - {% endif %}<td>
                <td><a href="{{path('return', {'id': p.id}) }}">{{ 'dl.unmarkreturned'|trans({}, 'messages') }}</a></td>
            </tr>
            
        {% endfor %}
            </table>
     <button class="btn" {%if debt%}id="show_returned_debts" {%else%} id="show_returned_loans"{%endif%}>
           <i class="icon-chevron-down"></i> {{ 'dl.showhide'|trans({}, 'messages') }} 
            {% if debt %} 
                {{ 'dl.returned'|trans({}, 'messages') }} 
            {% else %} 
                {{ 'dl.received'|trans({}, 'messages') }}
            {% endif %}
    </button>
    {%endif%}
{% endif %}