{% if highchart == true %}
    <div id="container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
{% endif %}

<button class="toggle_expenses btn little-space">
    <i class="icon-chevron-down"></i>Show/hide all products
</button>

{# Display categories, sums for them and expenses #}
{% set current_category = first_category %}

<h4 class="little-spacer text-info"><u>{{ first_category }} </u></h4> 

{# Generate the string to give to highcharts #}
{% if highchart == true %}
    {% set chart = '["' ~ first_category ~ '", ' %}
{% endif %}

<div class=" products {{first_category}}">
    
    {% if details == true %}
        <table class="table table-hover">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            <tr>
    {% endif %}
      
    {% set sum = 0 %}
    {% for e in expenses %}
        {% if e.category.name != current_category %}

            {% if details == true %}
            </tr></table>
            {% endif %}
</div>
            <strong>Sum: {{ sum|number_format(2) }}</strong>
                
            {% if highchart == true %}
                {% set chart = chart ~ sum ~ '], ' %}
            {% endif %}

            {% if progressbar == 'true' %}
                <div class="little-spacer progress span5 center">
                    {% set percent = sum*100/total_sum//1 %}
                    <div class="bar" style="width:{{ percent }}%;">
                        {{ percent }}%
                    </div>
                </div>
            {% endif %}

            {% set sum = 0 %}
     
            <h4 class="little-spacer text-info"><u>{{ e.category.name }}</u></h4>
                
            {% set current_category = e.category.name %}
            {% set sum = sum + e.price %}

            {% if highchart == true %}
                {% set chart = chart ~ '["' ~ current_category ~ '", ' %}
            {% endif %}

            <div class="products {{current_category}}">

                {% if details == true %}
                    <table class="table table-hover text-left">
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th>Description</th>
                        </tr>
                        <tr>

                            <td>{{ e.product }}</td> 
                            <td>{{ e.price|number_format(2) }}</td> 
                            <td>{{ e.date|date("d-m-Y") }}</td> 
                            <td>{% if e.description %}{{ e.description }}{% else %} - {% endif %}</td> 
                        </tr> 
                        <tr>                   
                    {% else %}
                        <p>
                            {{ e.product }} - {{ e.price|number_format(2) }} 
                        </p>                                  
                    {% endif %}
                        
        {% else %}                          
            
            {% set sum = sum + e.price %}

                {% if details == true %}
                        <td>{{ e.product }}</td> 
                        <td>{{ e.price|number_format(2) }}</td> 
                        <td>{{ e.date|date("d-m-Y") }}</td> 
                        <td>{% if e.description %}{{ e.description }}{% else %} - {% endif %}</td> 
                    </tr> 
                    <tr>
                {% else %}
                    <p>
                        {{ e.product }} - {{ e.price|number_format(2) }} 
                    </p>
                {% endif %}

        {% endif %}
                    
    {% endfor %}

    {% if details == true %}
        </tr></table>
    {% endif %}
            </div> 

    <strong>Sum: {{ sum|number_format(2) }}</strong>
        
    {% if highchart == true %}
        {% set chart = chart  ~ sum ~ ']' %}
    {% endif %}

    {% if progressbar == 'true' %}
        <div class="progress span5 center little-spacer">
            {% set percent = sum*100/total_sum//1 %}
            <div class="bar" style="width:{{ percent }}%;">
                {{ percent }}%
            </div>
        </div>
    {% endif %}
    
    <p class="lead text-error little-spacer">Total: <strong>{{total_sum|number_format(2)}}</strong></p> 

    {% if highchart == true %}

        {%block javascript%}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
            <script src="http://code.highcharts.com/highcharts.js"></script>
        {%endblock%}

        <script>
            $(function () {
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Expenses'
                    },
                    tooltip: {
                        formatter: function () {
                            return this.point.name + ': <b>' + Highcharts.numberFormat(this.percentage, 0) + '%</b>';
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Total',
                        data: [
                        {{ chart|raw }}
                        ]
                    }]
                });
            });    
        </script>
    {% endif %}