{% if items %}
    <p class="big-spacer lead">{{ title }}</p>
    <table class="table table-hover little-spacer">
        <tr>
            <th>{% if debt %}Return to{% else %}Receive from{% endif %}</th>
            <th>Sum</th>
            <th>Date when {% if debt %}taken{% else %}given{% endif %}</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for i in items %}              
            <tr>
                <td>{{i.product}}</td>
                <td>{{i.price|number_format(2)}}</td>
                <td>{{i.date|date('d-m-Y')}}</td>
                <td>{% if i.description %} {{ i.description }} {% else %} - {% endif %}<td>
                <td><a href="{{path('return', {'id': i.id}) }}">Mark as returned</a></td>
            </tr>                
        {% endfor %}
        {% if passive %}
            {% for p in passive %}
            
            <tr class="linethr {%if debt %} debts {%else%} loans{%endif%}">
                <td>{{p.product}}</td>
                <td>{{p.price|number_format(2)}}</td>
                <td>{{p.date|date('d-m-Y')}}</td>
                <td>{% if p.description %} {{ p.description }} {% else %} - {% endif %}<td>
                <td><a href="{{path('return', {'id': p.id}) }}">Unmark as returned</a></td>
            </tr>
            
        {% endfor %}
        {% endif %}
    </table>
    
    {% if passive %}
        <button class="btn" {%if debt%}id="show_returned_debts" {%else%} id="show_returned_loans"{%endif%}>
            <i class="icon-chevron-down"></i> Show/Hide already {%if debt%}returned debts {%else%} received loans{%endif%}
        </button>
    {%endif%}
    
{% else %}
    <p class="lead text-success big-spacer">{% if debt %}You have no debts to return!{% else %}You have no loans to receive!{% endif %}</p> 
    
    {% if passive %}
    <p class="big-spacer lead {%if debt %} debts {%else%} loans{%endif%}">Already returned</p>
    <table class="table table-hover little-spacer {%if debt %} debts {%else%} loans{%endif%}">
        <tr>
            <th>{% if debt %}Return to{% else %}Receive from{% endif %}</th>
            <th>Sum</th>
            <th>Date when {% if debt %}taken{% else %}given{% endif %}</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for p in passive %}
            
            <tr class="linethr ">
                <td>{{p.product}}</td>
                <td>{{p.price|number_format(2)}}</td>
                <td>{{p.date|date('d-m-Y')}}</td>
                <td>{% if p.description %} {{ p.description }} {% else %} - {% endif %}<td>
                <td><a href="{{path('return', {'id': p.id}) }}">Unmark as returned</a></td>
            </tr>
            
        {% endfor %}
            </table>
     <button class="btn" {%if debt%}id="show_returned_debts" {%else%} id="show_returned_loans"{%endif%}>
            <i class="icon-chevron-down"></i> Show/Hide already {%if debt%}returned debts {%else%} received loans{%endif%}
    </button>
    {%endif%}
{% endif %}