<div class="navbar navbar-inverse navbar-static-top"> 
    <div class="navbar-inner">
        
        <a class="brand" href="{{ path('home') }}">
            {% if notifications_count() > 0 %}
                <span class="badge badge-important"> 
                    {{ notifications_count() }} 
                </span>
            {%endif%}  
            BudgetTracker       
        </a>
        
        <ul class="nav">

            <li{% if var == "Expenses" %} class="active"{% endif %}>
                <a href="{{ path('expenses') }}">{{ 'nav.expenses'|trans({}, 'messages') }}</a>
            </li>

            <li{% if var == "Reports" %} class="active"{% endif %}>
                <a href="{{ path('reports') }}">{{ 'nav.reports'|trans({}, 'messages') }}</a>
            </li>

            <li{% if var == "Categories" %} class="active"{% endif %}>
                <a href="{{ path('categories') }}">{{ 'nav.categories'|trans({}, 'messages') }}</a>
            </li>
            
            <li{% if var == "Months" %} class="active"{% endif %}>
                <a href="{{ path('months') }}">{{ 'nav.months'|trans({}, 'messages') }}</a>
            </li>
            
            <li{% if var == "Debts & Loans" %} class="active"{% endif %}>
                <a href="{{ path('debts_loans') }}">{{ 'nav.debtsloans'|trans({}, 'messages') }}</a>
            </li>
            
            <li{% if var == "Bills" %} class="active"{% endif %}>
                <a href="{{ path('bills') }}">{{ 'nav.bills'|trans({}, 'messages') }}</a>
            </li>
            
            <li{% if var == "Bank interest" %} class="active"{% endif %}>
                <a href="{{ path('bank_interest') }}">{{ 'nav.bank'|trans({}, 'messages') }}</a>
            </li>

        </ul>
        
        <ul class="nav pull-right">
            
            {% for locale in ['en', 'bg'] %}
                <li {% if locale == app.request.locale %}class="active"{% endif %}>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">{{ locale }}</a>
                </li>
            {% endfor %}
            
            <li{% if var == "Profile" %} class="active"{% endif %}>
                <a href={{ path('fos_user_profile_show') }}>
                    <i class="icon-user icon-white"></i>
                    {{app.user.username}}                   
                </a>
            </li>
            
            <li><a href={{ path('fos_user_security_logout') }}>{{ 'nav.logout'|trans({}, 'messages') }}</a> </li>
            
        </ul>
        


        
    </div>
</div>