<div id="notifications" class="box alert alert-error text-center">
    
    <p>{{ 'notifications.warning'|trans({}, 'messages') }}</p>
    
    {% if debts_count() > 0 %}
        <p>
            {{ 'notifications.have'|trans({}, 'messages') }} {{ debts_count() }} 
            {% if debts_count() == 1 %}
                {{ 'notifications.debt'|trans({}, 'messages') }}
            {% else %} 
                {{ 'notifications.debts'|trans({}, 'messages') }} 
            {% endif %} 
            {{ 'notifications.return'|trans({}, 'messages') }}
        </p>
    
        {% for a in get_debts() %}
            <p>
                <a href="{{path('debts_loans')}}">
                    <strong>{{ a.product }} - {{ a.price|number_format(2) }}</strong>
                </a>
            </p>
        {% endfor %}           
    {% endif %}

    {% if bills_count() > 0 %}        
        <p>
            {{ 'notifications.have'|trans({}, 'messages') }} {{ bills_count() }} 
                {% if bills_count() == 1 %}
                    {{ 'notifications.bill'|trans({}, 'messages') }}
                {% else %} 
                    {{ 'notifications.bills'|trans({}, 'messages') }}
                {% endif %} 
            {{ 'notifications.pay'|trans({}, 'messages') }}
        </p>       
        
        {% for b in get_bills() %}
            <p>
                <a href="{{path('bills')}}">
                    <strong>{{ b.name }} - {{ b.dateToPayAgain|date("d-m-Y") }}</strong>
                </a>
            </p>
        {% endfor %}
    {% endif %}
  
</div>

{%block javascript%}
    {% if report is not defined %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> 
    {% endif %}

    <script src="{{ asset('bundles/acmebudgettracker/js/notifications.js') }}"></script>
{%endblock%}