{% extends '::base.html.twig' %}

{% block body %}

    {% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Bills'} %}

    <div class="text-center little-spacer ">
        <h3>Bills</h3>
              
        {% if bills_for_user %}
            <table class="table table-striped big-spacer">
                {% for b in bills_for_user %}
                    <tr>
                        <td>
                            <span class="right-spacer
                                {% if b.dateToPayAgain|date('U') > last_day_this_month|date('U') %}
                                    linethr
                                {% endif %}                  
                            "><strong><a href="{{ path('payments', { 'id': b.id}) }}">{{ b.name }}</a></strong>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice text-error big-spacer">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}
        
        <p class="big-spacer"><strong>Add new kind of bill<strong></p>
                    
        {% form_theme form 'AcmeBudgetTrackerBundle:Form:errors.html.twig' %}                       
        <form action="{{ path('bills') }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <input class="little-spacer btn" type="submit" value="Submit"/>
        </form>
    </div> 

    {% include 'AcmeBudgetTrackerBundle::notifications.html.twig' %}

{% endblock %} 