{% include 'AcmeBudgetTrackerBundle::navbar.html.twig' with {'var':'Profile'} %}

<div class="little-spacer text-center">

    <h1>Change your password</h1>

    <form class="big-spacer" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div>
            <input class="btn little-spacer" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
    
    <div class="big-spacer">
        
        <p>
            <i class="icon-user"></i> 
            <a href="{{ path('fos_user_profile_show') }}">View profile</a>
        </p>
        
        <p>
            <i class="icon-user"></i> 
            <a href="{{ path('fos_user_profile_edit') }}">Edit profile</a>
        </p>

    </div>
    
</div>